
@{
    ViewBag.Title = "HW1";
}

<form action="/" method="post">

    <br />
    <p>
        姓名:
        <input type="text" name="name" value="" />
    </p>

    <p>
        帳號:
        <input type="email" name="name" value="" />
    </p>

    <p>
        密碼:
        <input type="password" name="name" value="" />
    </p>

    <p>
        性別:
        <input id="isNew" name="isNew" type="radio" value="0">男性
        <input id="isNew" name="isNew" type="radio" value="1">女性
    </p>

    <p>
        興趣:
        <input id="ishobby" name="isStuednt" type="checkbox" value="true">游泳
        <input id="ishobby" name="isStuednt" type="checkbox" value="true">閱讀
        <input id="ishobby" name="isStuednt" type="checkbox" value="true">看電影

    </p>

    <p>
        自我介紹:
        <textarea name="about"></textarea>

    </p>

</form>

