
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>123</p>
<h1>822</h1>

<input id="password" name="password" type="password" value="123456">


<br>
<p>
    帳號:
    <input type="email" name="name" value="" />
</p>

<p>
    密碼:
    <input type="password" name="name" value="" />
</p>

<p>
    年齡:
    <input type="email" name="name" value="" />
</p>

